# Ignore node_modules
node_modules/

# Ignore build outputs
build/
dist/
out/

# Ignore logs
*.log

# Ignore environment variables
.env
.env.local

# Ignore coverage reports
coverage/

# Ignore package lock
package-lock.json

# Ignore custom directories/files
# Add additional files or directories you don't want Prettier to format
